# Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser.
# The file does not match your project config: .eslintrc.js.
# The file must be included in at least one of the projects provided
# https://stackoverflow.com/a/60840108
.eslintrc.js
